hidden=[".config"]
modules = ["nodejs-20", "python-3.10", "web"]
run = "python3 -m http.server 3000"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "python3 -m http.server 3000"]

[[ports]]
localPort = 3000
externalPort = 80
